*.log
.idea/
*.pyc
*.swp
*.png
*.so
*.o
test_data/
.vagrant/*
project/*
docs/_build/
lib/*
notebooks/lib/*
notebooks/.ipynb_checkpoints
provisioning/site.retry
provisioning/roles/andrew*
provisioning/roles/nansencenter.django/*
provisioning/roles/localvm/defaults/*
